
*{
  box-sizing:border-box ;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* rgb(91, 8, 136) */
/* rgb(113, 58, 190) */
/* rgb(157, 118, 193) */
/* rgb(229, 207, 247) */